<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link id="favicon" rel="icon" href="img/favicon.png">
  <title>Kevin's Wunschliste ✨</title>
  <style>{% include "style.css" %}</style>
</head>
<body>
    <main class="main-grid">
        {% block content %}
        {% endblock %}
    </main>
    <footer id="footer" class="[ gr-auto ] footer">
        <p>Favicon by <a href="https://thenounproject.com/rose-alice-design/">Alice Design</a> via <a href="https://thenounproject.com/icon/gift-4037931/">The Noun Project</a>.<br>
        Made with <a href="https://11ty.dev/">11ty</a> -- <a href="/imprint">Imprint</a></p>
    </footer>
</body>
</html>